<div class="user-details">
  <h1> About Me </h1>
  <img alt="avatar" src="{{ '/assets/img/IMG_4081.jpeg' | prepend: site.baseurl }}" />
  <img alt="avatar" src="{{ '/assets/img/IMG_7688.jpeg' | prepend: site.baseurl }}" />
  <img alt="avatar" src="{{ '/assets/img/IMG_4053.jpeg' | prepend: site.baseurl }}" />
  <p> {{site.user_description}} </p>
  <p> Javascript | React & Redux | ExpressJS | NodeJS | Python | Flask | PostgreSQL </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Front End</h2>
    <i class="devicon-bootstrap-plain"></i>
    <i class="devicon-javascript-plain"></i>
    <i class="devicon-react-original"></i>
    <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
      Vinyl XOXO lumbersexual</p>
  </div>
  <div class="tech">
    <h2>Back End</h2>
    <i class="devicon-python-plain"></i>
    <i class="devicon-nodejs-plain"></i>
    <i class="devicon-express-original"></i>
    <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
      Vinyl XOXO lumbersexual</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-postgresql-plain"></i>
    <i class="devicon-docker-plain"></i>
    <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
      Vinyl XOXO lumbersexual</p>
  </div>
</div>