<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="cocktailhour" src="{{ '/assets/img/cocktailhour.jpg' | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Cocktail Hour </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    <a class="project-link" href="http://cocktailhours.herokuapp.com/" target="_blank">Live Link</a>
    <a class="project-link" href="https://github.com/sambrady0652/cocktail-hour" target="_blank">Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ '/assets/img/stack.png' | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Cause </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    <a class="project-link" href="http://stackgroup.herokuapp.com/" target="_blank">Live Link</a>
    <a class="project-link" href="https://github.com/sambrady0652/slack-clone" target="_blank">Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="change" src="{{ '/assets/img/cause.png' | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Stack </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    <a class="project-link" href="http://changeclone.herokuapp.com/" target="_blank">Live Link</a>
    <a class="project-link" href="https://github.com/sambrady0652/change-clone" target="_blank">Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="welp" src="{{ '/assets/img/welp.png' | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Welp </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    <a class="project-link" href="http://welpeat.herokuapp.com/" target="_blank">Live Link</a>
    <a class="project-link" href="https://github.com/sambrady0652/yelp-clone" target="_blank">Github</a>
  </div>
</div>