<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="cocktailhour" src="{{ '/assets/img/cocktailhour.jpg' | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Cocktail Hour </h3>
    <ul>
      <li> React, Redux, Flask, PostgreSQL, Docker</li>
    </ul>
    <p>A lightweight application serving cocktail recipes from a Flask API that incorporates JWT-Flask-Extended library
      with Redux to ensure persistent user sessions. Developed with React stateless components, React Hooks, and Grommet
      theming to render highly responsive front end components including modals to ensure a seamless User Login Flow.
      Deployed to Heroku using Docker.
    </p>
    <a class="project-link" href="http://cocktailhours.herokuapp.com/" target="_blank">Live Link</a>
    <a class="project-link" href="https://github.com/sambrady0652/cocktail-hour" target="_blank">Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ '/assets/img/stack.png' | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Stack </h3>
    <ul>
      <li> React, Redux, Websockets, ExpressJS, PostgreSQL</li>
    </ul>
    <p>Lightweight Instant Messaging Application using Websockets for both group and one-on-one channels. Employs Redux
      Store and JWT Authentication to ensure privacy and integrates AWS to upload and
      view photos.
    </p>
    <a class="project-link" href="http://stackgroup.herokuapp.com/" target="_blank">Live Link</a>
    <a class="project-link" href="https://github.com/sambrady0652/slack-clone" target="_blank">Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="change" src="{{ '/assets/img/cause.png' | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Cause </h3>
    <ul>
      <li> React, Redux, Flask, PostgreSQL, Docker</li>
    </ul>
    <p>App that allows users to create, sign, and read petitions for various causes; inspired by Change.org’s primary
      features. Multi-page Form feature as well as seamless search, sign, and comment functionality. Created in
      collaboration with fellow aA students, and deployed to Heroku using Docker.
    </p>

    <a class="project-link" href="http://changeclone.herokuapp.com/" target="_blank">Live Link</a>
    <a class="project-link" href="https://github.com/sambrady0652/change-clone" target="_blank">Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="welp" src="{{ '/assets/img/welp.png' | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Welp </h3>
    <ul>
      <li> ExpressJS, Pug Templating, Sequelize ORM, PostgreSQL</li>
    </ul>
    <p>
      Application to search and view restaurants in the Chicago Area. Users can Favorite, Rate, and Review
      restaurants and, using Integrated Google Map API, track and pin Restaurant locations. BcryptJS is used to minimize
      security risks on PostgreSQL Database, and we seeded the site with over 500 restaurants from Yelp's API.
    </p>
    <a class="project-link" href="http://welpeat.herokuapp.com/" target="_blank">Live Link</a>
    <a class="project-link" href="https://github.com/sambrady0652/yelp-clone" target="_blank">Github</a>
  </div>
</div>